<!DOCTYPE html>
<html>
<head>
    <title>Signal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/18.3.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.3.0/umd/react-dom.development.min.js"></script>
     <script crossorigin src="https://cdn.jsdelivr.net/npm/@remix-run/router@1.23.0/dist/router.umd.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-router/6.26.0/react-router.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/6.26.0/react-router-dom.development.js"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/ring2.js"></script>
    <script crossorigin src="https://cdn.jsdelivr.net/npm/@reduxjs/toolkit/dist/redux-toolkit.umd.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/sec.css">
</head>
<body>
    
    <div id="root"></div>
    <script src="/redux/slice.js"></script>
    <script src="/redux/store.js"></script>
    <script crossorigin type="text/babel" src="/static/common.js" data-presets="react"></script>
    <script crossorigin type="text/babel" src="/static/user/join.js" data-presets="react"></script>
    <script crossorigin type="text/babel" src="/static/user/login.js" data-presets="react"></script>
    <script crossorigin type="text/babel" src="/static/chat/reply.js" data-presets="react"></script>
    <script crossorigin type="text/babel" src="/static/chat/chat-screen-items.js" data-presets="react"></script>
    <script crossorigin type="text/babel" src="/static/chat/chat-screen.js" data-presets="react"></script>
    <script src="static/chat-functions.js"></script>
    <script crossorigin type="text/babel" src="/static/chat.js" data-presets="react"></script>  
    
    <script crossorigin type="text/babel" src="/static/app.js" data-presets="react"></script>


</body>
<script crossorigin type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script crossorigin nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>
